<div>
  <div class="d-flex flex-row justify-content-start">
    <%= image_tag( comment.commenter.avatar, height: 30, width: 30, class: "rounded-circle" ) %>
    <%= comment.depth %>
    <p class="ms-2"><small><%= comment.commenter.username %></small><p>
  </div>
  <p class="my-0 ms-4"><span>* <small><%= comment.body %></small></p></span>
  <div class="d-flex flex-row justify-content-end my-0">
    <p class="mt-2 me-3"><small><%= time_ago_in_words(comment.created_at) %> ago</p></small>
    <% if comment.commenter == current_user || current_user.admin? %>
      <%= link_to edit_article_comment_path(@article, comment), class:"mt-1 me-3" do %>
        <%= image_tag "Edit.jpg", width: "25", class: "" %>
      <% end %>
      <%= button_to article_comment_path(@article, comment), method: :delete, class:"" do %>
        <%= image_tag "Trash-can.jpg", width: "15", class: "" %>
      <% end %>
    <% end %>
  </div>
  <a href="#" class="c-reply d-flex flex-row justify-content-end my-0 mb-2"><small>Reply</small></a>
  <div class="cf-display">
      <%= render '/comments/comment_form', article: comment.article, parent: comment %>
  </div>
</div>

<script>
 document.querySelectorAll('.c-reply').forEach((el) => {
  el.addEventListener('click', (event) => {
   event.preventDefault()
   el.nextElementSibling.style = 'display: block;'
  })
 })
</script>
