<div>
  <div class="mt-5">
    <% Category.find_each do |category|%>
      <div class="d-flex flex-column justify-content-between border border-dark my-5 mx-4">
        <h3 class=" my-3  ms-3"><%= category.topic %></h3>
        <% category.articles.each do |article|%>
          <li class="art-cont d-flex flex-wrap justify-content-between border h-50 my-2 px-4 mx-3 bg-light">
            <%= image_tag( article.image, height: 50, width: 50, class: "pt-3 me-3" ) if article.image.attached? %> 
            <p class="mt-3"><b><%= article.title %></b></p>
            <div class="d-flex flex-row mt-3 me-5">
              <%= image_tag( article.creator.avatar, height: 30, width: 30, class: "rounded-circle" ) if article.creator.avatar.attached? %></span>
              <p class="ms-2 me-4"><small><%= article.creator.username%></small></p>
              <p><small><%= link_to 'Go to', article_path(article) %></small></p>
            </div>
             
          </li>
        <% end %>
      </div> 
    
    <% end %>
  
  </div>
</div>
