<div class="border border-dark my-5 mx-5">
  <div class="mx-5">
  
    <div class="my-3">
      <h4 class="mb-3">Guest List</h4>

      <div class="d-flex flex-row">
        <%= image_tag( @event.image, height: 100, width: 100, class: "" ) if @event.image.attached? %>
        <div class="ms-3">
          <p><strong><%= @event.title %></strong></p>
          <div class="me-3">
              <span><%= image_tag "calendar.jpg", size: "20x20", class: "me-1" %></span>
              <span><small><%= @event.date.strftime("%b %d %Y") %></small></span>
            </div>
        </div>
      </div>
    </div>
    
    <div class="d-flex flex-column align-items-center">
      <% @users_show.each do |user| %>
        <div class="d-flex flex-row pb-3">
          <div class="me-5">
            <small class="pt-1"><strong><%= user.display_name %></strong></small>
          </div>
          <div>
            <%= image_tag( user.avatar, height: 30, width: 30, class: "rounded-circle" ) if user.avatar.attached? %>
            <small class="ms-2"><%= user.username %></small>
          </div>
        </div>
      <% end %>
    </div>

    <div class="d-flex flex-row justify-content-end my-4">
      <%= link_to 'Back to Event Details', event_path(id: params[:event_id]), class: "btn btn-outline-primary py-0" %>
    </div>
   
  </div>
</div>